body {
	background-color: #eee;
	font: message-box;
	margin: auto 14px;
}

h2 {
	border-bottom: 1px solid #888;
	margin-bottom: 4px;
}
div#quickdiffAgainstContainer {
	text-align: right;
	margin-bottom: 10px;
}

p.del,
p.add {
	font-family: monospace;
	white-space: pre;
	margin: 0;
}

p.del {
	background-color: #f88;
}
p.add {
	background-color: #8f8;
}

/* the "no newline" text */
p span {
	font-family: sans-serif;
	opacity: .7;
	font-style: italic;
}